.dis {
    display: none;
}
.radious {
    background: lightskyblue;
    color: white;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bold;
    border: white;
    width: 35px;
    padding-bottom: 4px;
    margin-left: 4px;
    margin-top: 0px;
}
.selection select{
    margin-left: 5em;
}
.selection label{
    position: absolute;
}
#fdata2{
    margin-left: 5px;
}

.draggable{
    font-weight: bold;
    width: 3cm;
    margin-left: 2mm;
    height: 1.5cm;
    text-align: center;
    padding-top: 5mm;
    color: black;

}


.jobStructure > p{
    margin-top: -0.9cm;
    margin-left: 3cm;
}

.yell{
    background-image: url(/img/miniYell.png);
    background-position: center;
    background-repeat: no-repeat;
}
.blue{
    background-image: url(/img/miniBlue.png);
    background-position: center;
    background-repeat: no-repeat;
}
.green{
    background-image: url(/img/miniGreen.png);
    background-position: center;
    background-repeat: no-repeat;
}

.process >p {
    float: left;
}
.jobs >p {
    float: left;
}


