.col{
    width: 2.5cm;
    height: 3cm;
    margin-top: 3cm;
    text-align: center;
    margin-left: 2cm;
    padding: 1cm;

}

a{
    text-decoration: none;
    color: white;
    font-size: 26px;

}

a:hover{
    background:yellowgreen;
    font-weight: bold;
    color: yellow;
}

.job{
    background: dodgerblue;
}

.tab{
    background: forestgreen;
}