body{
    background-color: #F5F5F5;
    color:black;
}

input, textarea, select{
    background: #F1F1F1;
    color: black;
    border-radius: 9px;
    height: 1cm;
    padding-left: 13px;
    font-size: 15pt;
    font-family: monospace;
}
.block{
    width: 2.5cm;
    height: 3cm;
    margin-top: 3cm;
    text-align: center;
    margin-left: 2cm;
    padding: 1cm;

}

a{
    text-decoration: none;
    color: white;
    font-size: 26px;

}

a:hover{
    background:yellowgreen;
    font-weight: bold;
    color: yellow;
}

.job{
    background: dodgerblue;
}

.tab{
    background: forestgreen;
}
.text{
    width: 80%;
    height: 10cm;
}
.container{
    margin-top: 1cm;
}
button{
    margin-top: 13px;
}

#copybtn{
    width: 2cm;
    display: block;
    float: right;
    margin-right: 19%;
    margin-top: 20px ;
}
.back{
    position: absolute;
    margin-left: 1cm;
    border: solid;
    border-radius: 40px;
    padding: 7px;
}
select{
    margin-top: 6px;
}


/*-----------------*/

