body{
    background-color: #dedede;
    color:black;

}

.pic{
    position: absolute;
    background-image: url(/image/pcOFF.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% 126%;
    background-repeat: no-repeat;
}
.job_btn{
    position: absolute;
    left: 35%;
    top: 32%;
    width: 33%;
    height: 28%;
    background-color: transparent;
    border-style: none;
}

.table_btn{
    position: absolute;
    left: -1%;
    top: 21%;
    width: 25%;
    height: 29%;
    background-color: transparent;
    border-style: none;

}