body{
    background-color: #dedede;
    color:black;
}
.job_btn{
    position: absolute;
    left: -3cm;
    top: -2cm;
    width: 13cm;
    height: 12cm;
    background-color: transparent;
    background-image: url(/image/pc.jpg);
    background-size: cover;
    transform: rotate(-45deg);
    border-style: none;
}
.job_btn:hover{
    background-image: url(/image/pcOn.jpg);
}

.table_btn{
    position: absolute;
    left: 0cm;
    top: 12cm;
    width: 4.5cm;
    height: 5.5cm;
    background-color: transparent;
    background-image: url(/image/notes.jpg);
    background-size: cover;
    transform: rotate(-45deg);
    border-style: none;

}
.table_btn:hover{
    background-image: url(/image/notesTables.jpg);
}