<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StyleO</title>
    <link th:href="mainPage.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="pic">
      <a th:href="job"><button class="neon-button" >Create Job</button></a><br/>
      <a th:href="table"><button class="neon-button" >Draw Table</button></a><br/>
      <a href="http://intranet.datagraphic.local/pdf-helper/"><button class="neon-button" >Extract Address</button></a><br/>
      <a href="http://intranet2019.datagraphic.local/oxo/"><button class="neon-button" >Standard Address Block</button></a><br/><br/>
      <a href="https://epayhelper.myaceni.co.uk/"><button class="neon-button" >Find Host Server</button></a><br/>
      <a href="https://mail.myaceni.co.uk/login"><button class="neon-button" >Release Email</button></a><br/>


  </div>
  <script th:src="@{/jquery/jquery.js}"></script>
</body>
</html>