<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Job Sheet Creator</title>>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col inputs col-sm-4">
                <span>File Name:</span><br>
                <input type="text" id="filename"><br>
                <span>Regular Expresion:</span><br>
                <div><input type="text" id="regx1"><br/></div>
                <label>numbers behind</label>
                <div><input type="text" id="regx2"><button class="add radious">+</button><button class="del radious"> - </button><br/> </div>
               <div id="field3" class="dis">

                   <input type="text" id="regx3"><br/></div>
               <div id="field4" class="dis">
                   <input type="text" id="regx4"> </div>
            <button type="button" id="create" class="btn btn-success">Create</button>
        </div>



        <div class="col col-sm-8">
            <input type="checkbox" id="wraper">
            <label for="wraper">Wrapper</label>
            <div class="boxcont jobStructure">
                <p class="draggable" draggable="true">Reset</p>
                <p class="draggable" draggable="true">Chain</p>
                <p class="draggable" draggable="true">Report</p>
                <p class="draggable" draggable="true">Autopilot</p>
            </div>
        </div>

    </div>
    <div class="row boxcont">
        <h6>Job script: </h6><p class="draggable" draggable="true">Foppy</p><p class="draggable" draggable="true"> txt</p><p class="draggable" draggable="true"> csv</p>
    </div>
    <div class="row boxcont">
        <h6>Reports: </h6><p class="draggable" draggable="true">Mailcheck</p><p class="draggable" draggable="true">MailSort</p><p class="draggable" draggable="true">Sort</p><br>
    </div>
    <div class="row boxcont">
        <h6>Autopilot: </h6><p class="draggable" draggable="true">PostScript-Xerox-Opt</p><p class="draggable" draggable="true">LookUp</p><p class="draggable" draggable="true">oko</p><br>
    </div>

    <div class="row">
        <div class="main col">
            <button id="copybtn" class="btn btn-primary">
                <i class="fa fa-clone">Copy</i>
            </button><br>
            <textarea class="text" style="width: 80%"> </textarea>
        </div>
    </div>

</div>
<div th:replace="fragments/script :: script"></div>
<script th:src="@{/createJobStructure.js}"></script>
<script th:src="@{/job script/jobprocesses.js}"></script>
</body>
</html>