<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Job Sheet Creator</title>>
</head>
<body>
<a class="back" href="home">Back</a>
<div class="container">
    <div class="row">
        <div class="col inputs col-sm-8">
            <span>File Name:</span><br>
            <input type="text" id="filename"><br>
            <span>Regular Expresion:</span><br>
            <div><input type="text" id="regx1"><br/></div>
            <label>numbers behind</label>
            <div><input type="text" id="regx2"><button class="add radious">+</button><button class="del radious"> - </button><br/> </div>

            <div id="field3" class="dis"><input type="text" id="regx3"><br/></div>
            <div id="field4" class="dis"><input type="text" id="regx4"><br/></div>
            </br>
            <h6>Jobs Script: </h6>
            <select name="1stScript" id="1stScript">
                <option value="Reset">Reset</option>
                <option value="xl2xml.pl">xl2xml.pl</option>
                <option value="csv-header.pl">csv-header.pl</option>
                <option value="csv.pl">csv.pl</option>
                <option value="csv-pipe.pl">csv-pipe.pl</option>
                <option value="line-data-header-ff.pl">line-data-header-ff.pl</option>
                <option value="txt-gt.pl">txt-gt.pl</option>
            </select>
            </br>

            <div>
                <label for="extenstion">Extension</label>
                <select id="extenstion">
                    <option value="Pdf">Pdf</option>
                    <option value="Ps">Ps</option>
                </select>

                <label for="duplex">Wrapper</label>
                <select id="duplex">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>

                <button type="button" id="create" class="btn btn-success">Create</button>

            </div>
            <div class="row">
                <div class="col boxcont process">
                    <p class="draggable yell2" draggable="true">Foppy</p>
                    <p class="draggable yell1" draggable="true">PDF 2.5</p>
                    <p class="draggable yell3" draggable="true">PostScript</p>
                    <p class="draggable yell1" draggable="true" style="font-size: 11pt;">Mailcheck (MCK)</p>
                    <p class="draggable yell2" draggable="true">Report</p>
                    <p class="draggable yell1" draggable="true">LookUp</p>
                    <p class="draggable yell3" draggable="true">New field</p>
                    <p class="draggable yell1" draggable="true">Split</p>
                    <p class="draggable yell3" draggable="true">MailSort</p>
                    <p class="draggable yell3" draggable="true">Autopilot</p>
                    <p class="draggable green" draggable="true">Chain</p>
                </div>
            </div>


        </div>
        <div class="col col-sm-4 stikers">
            <div class="boxcont jobStructure">
                <p class="draggable red" draggable="true">Job</p>
            </div>
        </div>
     </div>
    <div class="row">
        <div class="main col">
            <button id="copybtn" class="btn btn-primary">
                <i class="fa fa-clone">Copy</i>
            </button><br>
            <textarea class="text" style="width: 80%"> </textarea>
        </div>
    </div>
  </div>
<div th:replace="fragments/script :: script"></div>
<script th:src="@{/job/dragbox.js}"></script>
<script th:src="@{/job/createJobStructure.js}"></script>
</body>
</html>