<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Job Sheet Creator</title>>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col inputs col-sm-4">
                <span>File Name:</span><br>
                <input type="text" id="filename"><br>
                <span>Regular Expresion:</span><br>
                <div><input type="text" id="regx1"><br/></div>
                <label>numbers behind</label>
                <div><input type="text" id="regx2"><button class="add radious">+</button><button class="del radious"> - </button><br/> </div>
               <div id="field3" class="dis">

                   <input type="text" id="regx3"><br/></div>
               <div id="field4" class="dis">
                   <input type="text" id="regx4"> </div>
            <button type="button" id="create" class="btn btn-success">Create</button>
<!--            <button type="button" id="update" class="btn btn-success">Update</button>-->
        </div>



        <div class="col col-sm-8">
            <div class="boxcont">
                <p class="draggable" draggable="true">1</p>
                <p class="draggable" draggable="true">2</p>
            </div>
            <div class="boxcont">
                <p class="draggable" draggable="true">3</p>
                <p class="draggable" draggable="true">4</p>
            </div>
            <!--        // code for choosing options-->
<!--            <h5>Create processes:</h5>-->
<!--            <div class="selection">-->
<!--                <label>File Type</label>-->
<!--                <select id="fdata">-->
<!--                    <option>XML</option>-->
<!--                    <option>PDF</option>-->
<!--                    <option>CSV</option>-->
<!--                    <option>TXT</option>-->
<!--                    <option>ZIP</option>-->
<!--                </select><button id="p1" class="radious">&gt;</button>-->
<!--                <lablel>Process 1:</lablel>-->
<!--                <select class ="dis" id="fdata2"></select></br>-->

<!--                <label>New Field</label>-->
<!--                <select>-->
<!--                    <option></option>-->
<!--                    <option>new-field.pl</option>-->
<!--                    <option>new-field.pl2</option>-->
<!--                    <option>new-field-conditional.pl</option>-->
<!--                    <option>new-field-conditional.pl2</option>-->
<!--                </select><br>-->

<!--                <label>Mailsort</label>-->
<!--                <select id="mailsort">-->
<!--                    <option></option>-->
<!--                    <option>DSA   (8  fields)</option>-->
<!--                    <option>DSA 8 (10 fields)</option>-->
<!--                </select><br>-->

<!--                <label>Foppy</label>-->
<!--                <select id="foppy">-->
<!--                    <option></option>-->
<!--                    <option>Foppy</option>-->
<!--                    <option>Foppy Duplex</option>-->
<!--                </select></br>-->

<!--                <label>Autopilot</label>-->
<!--                <select id="autopilot">-->
<!--                    <option></option>-->
<!--                    <option>Autopilot PS</option>-->
<!--                    <option>Autopilot PS  Conti</option>-->
<!--                    <option>Autopilot PDF</option>-->
<!--                    <option>Autopilot PDF Conti</option>-->
<!--                </select><br>-->
<!--            </div>-->

        </div>

    </div>
<!--    <div class="row">-->
<!--        <div class="tbox col">-->
<!--            <input type="checkbox" id="autopilot">-->
<!--            <label for="autopilot">Autopliot</label>-->
<!--            <input type="checkbox" id="foppy">-->
<!--            <label for="foppy">Foppy</label>-->
<!--            <input type="checkbox" id="mailcheck">-->
<!--            <label for="mailcheck">Lat</label>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <p class="draggable" draggable="true">5</p>
    </div>

    <div class="row">
        <div class="main col">
            <button id="copybtn" class="btn btn-primary">
                <i class="fa fa-clone">Copy</i>
            </button><br>
            <textarea class="text"> </textarea>
        </div>
    </div>

</div>
<div th:replace="fragments/script :: script"></div>
<script th:src="@{/job.js}"></script>
<script th:src="@{/job script/jobprocesses.js}"></script>
</body>
</html>