<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stylo Table</title>
    <link th:href="tablePage.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>

</head>

<body>
<a href="home"><button class="back" >Back</button></a>
    <div class="container">
        <div class="row">
            <div class="col pt-5 bar">
                    <span>number of columns:</span>
                    <input type="text" id="col">
                    <span>number of rows:</span>
                    <input type="text" id="row">
                    <button type="button" id="create" class="btn btn-primary">Create</button>
                    <button type="button" id="update" class="btn btn-success">Update</button>
            </div>
        </div>
        <div class="row"></div>
        <div class="tbox col col-sm-1">
            <div class="what">
                <span for="sheaders">Bold header</span>
                <label class="switch">
                    <input type="checkbox" id="sheaders">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="what">
                <span for="solid">Borders net</span>
                <label class="switch">
                    <input type="checkbox" id="solid">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="what">

                <span class="what" for="align-right">Last right</span>
                <label class="switch">
                    <input type="checkbox" id="align-right">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
            <div class="col col-sm-9 ">
                <div class="table-draw"></div>

            </div>
             <div class="col col-sm-2" id="column-block" >
                    <h6>Column widht in %</h6>
                    <div class="colsize"></div>
             </div>
        </div>

            <div class="row">
                <div class="col col-12 code">
                    <button id="copybtn" class="btn btn-primary">Copy</button><br>
                        <textarea class="text"> </textarea>
                </div>
            </div>


    </div>
    <div th:replace="fragments/script :: script"></div>
    <script th:src="@{/table/table.js}"></script>
    <script th:src="@{/table/draw.js}"></script>
</body>
</html>