<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Table creator</title>

</head>
<body>
    <div class="container">
        <div class="row">
              <div class="col col-sm-6 ">
                <form>
                    <span>number of columns:</span><br>
                    <input type="text" id="col"><br>
                    <span>number of rows:</span><br>
                    <input type="text" id="row"><br/>
                    <button type="button" id="create" class="btn btn-primary">Create</button>
                    <button type="button" id="update" class="btn btn-success">Update</button>
                </form>
             </div>
            <div class="col col-sm-1 col-md-1"></div>
             <div class="col col-sm-5" >
                    <h6>Column widht in %</h6>
                    <div class="colsize"></div>
             </div>
        </div>
         <div class="row">
             <div class="tbox col">
                    <input type="checkbox" id="sheaders">
                    <label for="sheaders">Bold header</label>
                    <input type="checkbox" id="solid">
                    <label for="solid">Solid boards</label>
                    <input type="checkbox" id="align-right">
                    <label for="align-right">Last row on the right</label>
             </div>
        </div>


            <div class="row">
                <button id="copybtn" class="btn btn-primary">
                <i class="fa fa-clone">Copy</i>
                </button><br>
                    <textarea class="text"> </textarea>
            </div>


    </div>
    <div th:replace="fragments/script :: script"></div>
    <script th:src="@{/table.js}"></script>
</body>
</html>